<div class="sidebar-menu">
	<ul>
		<li class="menu-title">
			Main
		</li>
		<li>
			<a class="has-arrow" href="#" aria-expanded="false">
				<span>
					<i class="fas fa-tachometer-alt"></i> <span class="hide">Dashboard</span></span>
				</span>
				<span class="badge badge-success">3</span>
			</a>

			<ul class="submenu">
				<li>
					<a class="has-arrow" href="#">Submenu 1</a>

					<ul class="submenu">
						<li>
							<a href="#">Submenu 1.1</a>
						</li>
						<li>
							<a href="#">Submenu 2.1</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">Submenu 2</a>
				</li>
			</ul>
		</li>
	</ul>
</div>
