<footer class="bg-primary">
    <div class="container">
        <div class="title text-center text-light">
            <h2>Thankyou for supporting us!</h2>
        </div>
        <div class="social-media">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>

        <div class="copyright">
            <p> &copy; 2018, Designed by O2System.</p>
        </div>
    </div>
</footer>
