/* Select 2 */
.select2-container {
    width: 100% !important;
    .select2-selection--single {
        border: 1px solid darken($input-border-color, 1%);
        height: 38px;
        .select2-selection__rendered {
            line-height: 36px;
            padding-left: 12px;
        }
        .select2-selection__arrow {
            height: 34px;
            width: 34px;
            right: 3px;
            b {
                border-color: darken($input-border-color, 15%) transparent transparent transparent;
                border-width: 6px 6px 0 6px;
            }
        }
    }
}

.select2-container--open {
    .select2-selection--single {
        .select2-selection__arrow {
            b {
                border-color: transparent transparent darken($input-border-color, 15%) transparent !important;
                border-width: 0 6px 6px 6px !important;
            }
        }
    }
}

.select2-results__option {
    padding: 6px 12px;
}

.select2-dropdown {
    border: 1px solid darken($input-border-color, 5%);
    box-shadow: unset;
}

.select2-container--default {
    .select2-search--dropdown {
        padding: 10px;
        background-color: darken($input-border-color, 5%);
        .select2-search__field {
            border: 1px solid darken($input-border-color, 5%);
        }
    }
    .select2-results__option--highlighted[aria-selected] {
        background-color: $primary;
    }
    .select2-results__option[aria-selected=true] {
        background-color: lighten($input-border-color, 5%);
        color: $gray-900;
        &:hover {
            background-color: $primary;
            color: $white;
        }
    }

    .select2-results__group {
        cursor: default;
        display: block;
        padding: 6px;
        font-weight: 600;
        color: $gray-900;
    }
}

.select2-container .select2-selection--multiple {
    min-height: 38px;
    border: 1px solid darken($input-border-color, 5%) !important;
    .select2-selection__rendered {
        padding: 2px 10px;
    }
    .select2-search__field {
        margin-top: 7px;
        border: 0;
    }
    .select2-selection__choice {
        background-color: $primary;
        border: 1px solid transparent;
        color: $white;
        border-radius: 3px;
        padding: 0 7px;
    }
    .select2-selection__choice__remove {
        color: $white;
        margin-right: 5px;
        &:hover {
            color: $white;
        }
    }
}

/* Bootstrap tagsinput */
.bootstrap-tagsinput {
    box-shadow: none;
    padding: 3px 7px 5px;
    width: 100%;
    line-height: 1;
    border: 1px solid darken($input-border-color, 1%);
    display: flex;
    flex-wrap: wrap;

    .label-info {
        background-color: $primary;
        display: inline-block;
        padding: 4px 8px;
        font-size: 13px;
        margin: 3px 1px;
        border-radius: 3px;
    }
}

/* Bootstrap Filestyle */
.input-group-btn:not(:first-child) > .btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Selectize */
.form-control.selectize-control .selectize-input.focus {
  box-shadow: none;
}