.main{
	margin-left: 240px;
    margin-top: 80px;
    margin-bottom: 60px;
    transition: all 0.3s;

    @include device(tablet) {
		margin-left: 0;
	}

	@include device(mobile) {
		margin-left: 0;
	}
}

&.mini-sidebar-left{
	.main{
		margin-left: 60px;
		transition: all 0.3s;
	}
}

.page-title{
	margin-bottom: 1rem;
	h4{
		font-weight: 700;
		margin-bottom: 0;
		font-size: 16px;
	}
}