.banner{
	position: relative;

	&.banner-1{
		background-image: linear-gradient( 40deg, $primary 0%, lighten($primary, 25%) 100%);
		background-image: -moz-linear-gradient( 40deg, $primary 0%, lighten($primary, 25%) 100%);
	    background-image: -webkit-linear-gradient( 40deg, $primary 0%, lighten($primary, 25%) 100%);
	    background-image: -ms-linear-gradient( 40deg, $primary 0%, lighten($primary, 25%) 100%);
	    height: 100vh;
	    background-size: cover;
	    background-position: 50%;
	    position: relative;
	    overflow: hidden;
	    z-index: 1;
	    display: flex;
	    align-items: center;
	    .bottom-shape{
	        position: absolute;
	        bottom: 0px;
	        left: 0;
	        z-index: 1;
	        width: 100%; 
	    }
	}
}

.banner-1{
    position: relative;
    z-index: 1;
    .banner-1-intro{
    	background-image: linear-gradient(-50deg, #237efd 0%, #24b0fe 46%, #24e2ff 100%);
        background-image: -moz-linear-gradient(-50deg, #237efd 0%, #24b0fe 46%, #24e2ff 100%);
        background-image: -webkit-linear-gradient(-50deg, #237efd 0%, #24b0fe 46%, #24e2ff 100%);
        background-image: -ms-linear-gradient(-50deg, #237efd 0%, #24b0fe 46%, #24e2ff 100%);
        .banner-1-container{
            height: 795px;
            max-width: 830px;
            margin: 0 auto;
            text-align: center;
            .intro{
                height: 53%;
                width: 100%;
                position: relative;
                .intro-content{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    left: 0;
                    padding: 0px 15px;
                    h1{
                        font-size: 50px;
                        letter-spacing: -0.20px;
                        line-height: 70px;
                        margin-bottom: 16px;
                        color: #fff;
                        font-weight: 700;
                        font-family: "Poppins",sans-serif;
                    }
                    p{
                        margin-bottom: 40px;
                        line-height: 30px;
                        color: #fff;
                        font-size: 18px;
                    }
                    form{
                        .input-group{
                            &.subcribes{
                                max-width: 570px;
                                margin: 0 auto;
                                .form-control{
                                    border-radius: 4px;
                                    background-color: #fff;
                                    box-shadow: 0px 8px 16px 0px rgba(0,11,40,0.1);
                                    font: 300 16px/36px "Poppins",sans-serif;
                                    border: 0px;
                                    color: #a1a8be;
                                    height: 60px;
                                    padding-left: 30px;
                                    position: relative;
                                    z-index: 1;
                                }
                                .btn-submit{
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    font: 400 14px/60px "Poppins",sans-serif;
                                    color: #fff;
                                    background: #1c7ce7;
                                    border-radius: 4px;
                                    padding: 0px 25px;
                                    border: 0px;
                                    z-index: 2;
                                }
                            }
                        }
                        p{
                            margin-bottom: 40px;
                            line-height: 30px;
                        }
                    }
                }
            }
        }
    }
    .banner-shape{
        position: absolute;
        width: 101%;
        height: 540px;
        // bottom: 120px;
        z-index: 0;
        left: 0;
        overflow: hidden;
        background-size: cover;
        transform: rotate(2deg);
        right: 0;
        bottom: 150px;
    }
    .banner-animation{
        text-align: center;
        margin-top: -320px;
        z-index: 2;
        position: relative;
    }
}

.banner-2{
    position: relative;
    min-height: 100vh;
    background-image: -moz-linear-gradient(-86deg, #7121ff 0%, #21d4fd 100%);
    background-image: -webkit-linear-gradient(-86deg, #7121ff 0%, #21d4fd 100%);
    background-image: -ms-linear-gradient(-86deg, #7121ff 0%, #21d4fd 100%);
    z-index: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    .shape{
        background-image: -moz-linear-gradient(-57deg, #7121ff 0%, #21d4fd 100%);
        background-image: -webkit-linear-gradient(-57deg, #7121ff 0%, #21d4fd 100%);
        background-image: -ms-linear-gradient(-57deg, #7121ff 0%, #21d4fd 100%);
        position: absolute;
        left: -256px;
        top: -178px;
        width: 1095px;
        height: 602px;
        border-radius: 90px;
        transform: rotate(-38deg);
        z-index: -1;
        opacity: 0.20;
        .two{
            background-image: -moz-linear-gradient(-75deg, #7121ff 0%, #21d4fd 100%);
            background-image: -webkit-linear-gradient(-75deg, #7121ff 0%, #21d4fd 100%);
            background-image: -ms-linear-gradient(-75deg, #7121ff 0%, #21d4fd 100%);
            position: absolute;
            left: 689px;
            top: 458px;
            border-radius: 150px;
            width: 816px;
            height: 702px;
        }
    }
    .container{
        .banner-content{
            max-width: 556px;
            h1{
                line-height: 70px;
                margin-bottom: 25px;
                color: #fff;
                font-weight: 700;
                font-family: "Poppins",sans-serif;
                font-size: 50px;
            }
            p{
                line-height: 30px;
                color: #fff;
                font-family: "Poppins",sans-serif;
                font-size: 18px;
            }
            .action-btn{
                margin-top: 60px;
                -ms-flex-align: center!important;
                align-items: center!important;
                display: -ms-flexbox!important;
                display: flex!important;
                .btn-hover{
                    overflow: hidden;
                    display: inline-block;
                    font-weight: 500;
                    font-size: 14px;
                    z-index: 1;
                    cursor: pointer;
                    transition: all 0.3s linear;
                    &.agency-banner-btn{
                        font: 500 14px "Poppins",sans-serif;
                        background: #fff;
                        color: #5956fe;
                        box-shadow: 0px 20px 30px 0px rgba(12,0,46,0.1);
                        border-radius: 3px;
                        padding: 16px 38px;
                        border: 1px solid #fff;
                        transition: all 0.2s linear;
                        cursor: pointer;
                    }
                }
                .agency-banner-btn-2{
                    color: #ffffff;
                    margin-left: 30px;
                    font: 500 14px "Poppins",sans-serif;
                    position: relative;
                    transition: color 0.2s linear;
                    i{
                        vertical-align: middle;
                        padding-left: 10px;
                        transition: all 0.2s linear;
                    }
                    &:hover{
                        i{
                            padding-left: 15px;
                        }
                    }
                }
            }
        }
    }
}

.banner-3{
    background-image: -moz-linear-gradient(40deg, #5e2ced 0%, #a485fd 100%);
    background-image: -webkit-linear-gradient(40deg, #5e2ced 0%, #a485fd 100%);
    background-image: -ms-linear-gradient(40deg, #5e2ced 0%, #a485fd 100%);
    padding: 230px 0px 140px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    .dot-shape{
        position: absolute;
        right: 0;
        top: 0;
        background: rgba(255,255,255,0.03);
        border-radius: 50%;
        z-index: -1;
        &.one{
            width: 740px;
            height: 740px;
            top: -280px;
        }
        &.two{
            width: 640px;
            height: 640px;
            top: -150px;
            right: -80px;
        }
        &.three{
            width: 640px;
            height: 640px;
            top: 50%;
            transform: translateY(-50%);
            right: -450px;
        }
    }
    .container{
        .banner-img{
            max-width: 100%;
            margin-left: 0px;
        }
        .banner-content{
            h2{
                margin-bottom: 20px;
                color: #fff;
                font-weight: 700;
                line-height: 50px;
                font-size: 40px;
            }
            p{
                color: #fff;
                font-weight: 300;
                line-height: 28px;
            }
            .action-btn{
                margin-top: 40px;
                display: -ms-flexbox!important;
                display: flex!important;
                -ms-flex-align: center!important;
                align-items: center!important;
                .btn-hover{
                    overflow: hidden;
                    display: inline-block;
                    font-weight: 500;
                    font-size: 14px;
                    z-index: 1;
                    cursor: pointer;
                    transition: all 0.3s linear;
                    &.agency-banner-btn{
                        font: 500 14px "Poppins",sans-serif;
                        background: #fff;
                        color: #5e2ced;
                        box-shadow: 0px 20px 30px 0px rgba(12,0,46,0.1);
                        border-radius: 3px;
                        padding: 16px 38px;
                        border: 1px solid #fff;
                        transition: all 0.2s linear;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}