.demo{
	.banner{
		padding: 0;
	}
	.banner-0{
		background-position: bottom;
		background-size: cover;
		padding-bottom: 80px;
		background-image: none;
		&:before{
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			background-image: linear-gradient( 40deg, $primary 70%, darken($primary, 25%) 100%);
			opacity: 0.8;
		}
	}
	section{
		padding: 50px 0;
	}
	h4{
		margin-top: 30px;
		margin-bottom: 0rem;
	}
	h5{
		margin-top: 1.5rem;
		margin-bottom: 1rem;
	}

	.demo-navigations{
		background-size: cover;
		background-position: bottom;
		padding-bottom: 5rem;
		margin-top: 30px;

		.navbar{
			margin-bottom: 1.5rem;
		}
	}

}