body {
  	color: $body-color;
}
.title{
	margin-bottom: 4rem;
	h1, h2, h3, h4, h5, h6{
		line-height: 1.5;
	}

	h1, h2{
		font-weight: 700;
		color: $gray-900;
	}

	h3, h4, h5, h6{
		color: $body-color;
	}
}

section{
	padding: 80px 0;
}